
/*HEADER*/

.header {
  background-color: #39474E;
}

/*HERO*/

/*HERO-BOTTOM*/

.hero-bottom {
  background-color: #EEEEEE;
}

.hero-bottom img {
  width: 12%;
}

/*SECTION 1*/

/*SECTION 2*/

.section-2 {
  background-color: #EEEEEE;
}

/*SECTION 3*/

/*SECTION 4*/

.section-4 {
  background-color: #747D84;
}

/*SECTION 5*/
